.array-container {
    position: absolute;
    left: 100px;
    right: 130px;
    top: 20px
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 3px;
  }

  .generate-button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  max-width: 300px;
  padding: 1px 7px 2px;
  position: fixed;
  height: 10vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  }

  .sort-button{
    background-color: #b4561c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-width: 300px;
    padding: 1px 7px 2px;
    position: fixed;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-auto-flow: column;
    gap: 10px; 
  }
  bubble-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-width: 300px;
    padding: 1px 7px 2px;
    position: fixed;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;  

  }